<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main_container">
      
      <%= yield %>

      <div class="visualizer"></div>

    </div>

    <div class="modals">
      
      <div class="modal-signup fade" id="basicModal modal-signup-id" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
            </div>
            <div class="modal-body">
              <%= form_for User.new, :id => "sign_up" do |f| %>
                <div class="form-group">
                  <%= f.label :name, :id => 'signup-name-label' %>
                  <%= f.text_field :name, :autofocus => true, :required => true, :class => 'form-control', :id => 'signup-name' %>
                </div>
                <div class="form-group">
                <%= f.label :email, :id => 'signup-email-label' %>
                <%= f.text_field :email, :required => true, :class => 'form-control', :id => 'signup-email' %>
                </div>
                <div class="form-group">
                  <%= f.label :password, :id => 'signup-password-label' %>
                  <%= f.password_field :password, :required => true, :class => 'form-control', :id => 'signup-password' %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation, :id => 'signup-password-confirmation-label' %>
                  <%= f.password_field :password_confirmation, :required => true, :class => 'form-control', :id => 'signup-password-confirmation' %>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.submit 'Sign Up', :class => 'btn btn-default' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-login fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
              <%= form_tag login_path do %>
                <div class="form-group">
                  <%= label_tag :email %>
                  <%= text_field_tag :email, nil, :type => 'email', :class => 'form-control', :placeholder => "Enter email", :autofocus => true %>
                </div>
                <div class="form-group">
                  <%= label_tag :password %>
                  <%= password_field_tag :password, nil, :type => 'password', :class => 'form-control', :placeholder => "Enter password" %>
                </div>
            </div>
            <div class="modal-footer">
                <%= submit_tag "Login", :type => 'submit', :class=> 'btn btn-default' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Zensations</a>
      </div>

      <div class="navbar-collapse collapse">

        <!-- Left nav -->
        <ul class="nav navbar-nav">
          <li><a href="#">Choose Track</a>
            <ul id="user-tracks" class="dropdown-menu">
              <li><a class="login-save" href="#">Log In To Save Tracks</a></li>
            </ul>
          </li>
          <li><a href="#">Choose Visualisation</a>
            <ul class="dropdown-menu">
              <li id="spaceslug_mouse"><a href="#spaceslug">Spaceslug - Mouse</a></li>
              <li id="spaceslug_leap"><a href="#spaceslug">Spaceslug - Leap</a></li>
              <li id="discoattack_mouse"><a href="#discoattack">Disco Attack - Mouse</a></li>
              <li id="discoattack_leap"><a href="#discoattack">Disco Attack - Leap</a></li>
              </li>
            </ul>
          </li>

        </ul>

        <!-- Right nav -->
        <ul class="nav navbar-nav navbar-right">
          <%== nav_menu_right %>
        </ul>

      </div><!--/.nav-collapse -->
    </div>

  </body>
</html>