<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTwo</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="main_container">
      <%= yield %>
    </div>



    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Zensations</a>
      </div>

      <div class="navbar-collapse collapse">


        <!-- Left nav -->
        <ul class="nav navbar-nav">
          <li><a href="#">Choose Track</a></li>
          <li><a href="#">Choose Visualisation</a>
            <ul class="dropdown-menu">
              <li id="spaceslug_mouse"><a href="#spaceslug">Spaceslug - Mouse</a></li>
              <li id="spaceslug_leap"><a href="#spaceslug">Spaceslug - Leap</a></li>
              <li id="discoattack_mouse"><a href="#discoattack">Disco Attack - Mouse</a></li>
              <li id="discoattack_leap"><a href="#discoattack">Disco Attack - Leap</a></li>
              </li>
            </ul>
          </li>
        </ul>

        <!-- Right nav -->
        <ul class="nav navbar-nav navbar-right">
          <%== nav_menu_right %>
        </ul>

      </div><!--/.nav-collapse -->
    </div>

  </body>
</html>